[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = warning

# IDE0058: El valor de la expresión no se utiliza nunca.
dotnet_diagnostic.IDE0058.severity = silent
